@import "vars_mixins";

//HEAD SECTION STYLE
section.head{
    margin-bottom:-80px;
    .container-fluid{
        margin:0 0;
        padding:30px;
        .flavor-logo{
            width:10.7%;
            float:left;
            left: 10px;
        }
        .background-logo{
            width:87%;
            float:right;
            position:relative;
            .flavor-text-top-left{
                position: absolute;
                top:3%;
                left:2%;
                border:solid 3px red;
                color:white;
                font-size:24px;
                @include f-bold;
                padding:15px;
            }
            .background-txt{
                position: absolute;
                bottom: 36%;
                left:50%;
                transform:translate(-50%,50%);
                background: black;
                color:white;
                font-size: 48px;
                @include f-medium;
                padding: 5px 40px;
            }
            .flavor-small-logo{
                position: absolute;
                top:3%;
                right:3%;
                img{
                    filter:brightness(0) invert(1);
                }
            }
            .background-txt-sub{
                background:white;
                position: relative;
                top:-90px;
                text-align:center;
                width: 60%;
                transform: translateX(-35%);
                display: flex;
                justify-content: space-around;
                padding:20px;
                .service{
                    display: flex;
                    align-items: center;
                    span{
                        @include f-bold;
                        font-size:20px;
                        margin-right: 10px;
                    }
                }

            }
        }
    }
}
//HEAD SECTION STYLE -END

//INFO SECTION STYLE
section.form{
    background-image: url("../images/background-info-section.png");
    background-repeat: no-repeat;
    background-size: cover;
    .slide{
        width:50%;
        float:left;
    }
    .txt{

        p{
            text-align:right;
            @include f-regular;
            font-size:18px;
            padding-top: 70px;
            padding-right: 120px;
            padding-left: 40px;
            width: 45%;
        }
    }
    .form-box{
        margin-top:200px;
        h2{
            font-size:36px;
            @include f-medium;
            margin-bottom: 30px;
        }
        div.wpcf7{
            margin-bottom:30px;
            form{
                span{
                    margin-right: 10px;
                    margin-left: 10px;
                    input{
                        padding:15px;
                        background:#d7d7d7;
                        border:none;
                    }
                    input::placeholder{
                        color:black;
                    }
                }
                input#send_btn{
                    background: #c31432;
                    border:none;
                    padding:15px;
                    width:200px;
                    color:white;
                }
            }
        }
        p.smaller{
            span.small-txt{
                font-size:24px;
                @include f-bold;
            }
            span.small-tell{
                @include f-bold;
                color:#c31432;
                font-size:24px;
            }
        }
    }
}
//INFO SECTION STYLE - END


//FORM SECTION STYLE
section.form{
    text-align: center;
}
//FORM SECTION STYLE -END


///////////////////////desktop queries -START

@media screen and(max-width: 1800px){
  section.head{

    .container-fluid{

      .flavor-logo{

      }
      .background-logo{

        .flavor-text-top-left{

        }
        .background-txt{
          font-size:42px;
        }
        .flavor-small-logo{

          img{

          }
        }
        .background-txt-sub{

          .service{

            span{

            }
          }

        }
      }
    }
  }
  section.form{

    .slide{

    }
    .txt{

      p{

      }
    }
    .form-box{
      margin-top:150px;
      h2{

      }
      div.wpcf7{

        form{
          span{

            input{

            }
            input::placeholder{

            }
          }
          input#send_btn{

          }
        }
      }
      p.smaller{
        span.small-txt{

        }
        span.small-tell{

        }
      }
    }
  }
}
@media screen and(max-width: 1700px){
  section.head{
    margin-bottom: -70px;
    .container-fluid{

      .flavor-logo{

      }
      .background-logo{

        .flavor-text-top-left{

        }
        .background-txt{
          font-size:42px;
          padding: 0px 30px;
        }
        .flavor-small-logo{

          img{

          }
        }
        .background-txt-sub{
            padding:10px;
            top:-80px;
          .service{

            span{

            }
          }

        }
      }
    }
  }
  section.form{

    .slide{

    }
    .txt{

      p{

      }
    }
    .form-box{
      margin-top:135px;
      h2{

      }
      div.wpcf7{

        form{
          span{

            input{

            }
            input::placeholder{

            }
          }
          input#send_btn{

          }
        }
      }
      p.smaller{
        span.small-txt{

        }
        span.small-tell{

        }
      }
    }
  }
}
@media screen and(max-width: 1600px){
  section.head{

    .container-fluid{

      .flavor-logo{

      }
      .background-logo{

        .flavor-text-top-left{

        }
        .background-txt{

        }
        .flavor-small-logo{

          img{

          }
        }
        .background-txt-sub{

          .service{

            span{

            }
          }

        }
      }
    }
  }
  section.form{

    .slide{

    }
    .txt{

      p{
        padding-top: 50px;
        padding-right: 120px;
        padding-left: 10px;
        width: 45%;
      }
    }
    .form-box{
      margin-top:100px;
      h2{

      }
      div.wpcf7{

        form{
          span{

            input{
              width:22%;
            }
            input::placeholder{

            }
          }
          input#send_btn{
            width:175px
          }
        }
      }
      p.smaller{
        span.small-txt{

        }
        span.small-tell{

        }
      }
    }
  }
}
@media screen and(max-width: 1400px){
  section.head{

    .container-fluid{

      .flavor-logo{

      }
      .background-logo{

        .flavor-text-top-left{

        }
        .background-txt{
          font-size: 36px;
          bottom: 37%;
        }
        .flavor-small-logo{

          img{

          }
        }
        .background-txt-sub{

          .service{

            span{

            }
          }

        }
      }
    }
  }
  section.form{

    .slide{

    }
    .txt{

      p{
        padding-top: 30px;
        font-size: 16px;
        padding-right: 100px;
      }
    }
    .form-box{
      margin-top:100px;
      h2{

      }
      div.wpcf7{

        form{
          span{

            input{
              width:22%;
            }
            input::placeholder{

            }
          }
          input#send_btn{
            width:175px
          }
        }
      }
      p.smaller{
        span.small-txt{

        }
        span.small-tell{

        }
      }
    }
  }
}

@media screen and(max-width: 1300px){
  section.head{
    margin-bottom:-60px;
    .container-fluid{

      .flavor-logo{

      }
      .background-logo{

        .flavor-text-top-left{

        }
        .background-txt{
          font-size: 36px;
          bottom: 37%;
        }
        .flavor-small-logo{

          img{

          }
        }
        .background-txt-sub{
          padding: 5px;
          top: -73px;
          .service{

            span{

            }
          }

        }
      }
    }
  }
  section.form{

    .slide{

    }
    .txt{

      p{
        padding-top: 30px;
        font-size: 16px;
        padding-right: 100px;
      }
    }
    .form-box{
      margin-top:80px;
      h2{

      }
      div.wpcf7{

        form{
          span{

            input{
              width:22%;
            }
            input::placeholder{

            }
          }
          input#send_btn{
            width:175px
          }
        }
      }
      p.smaller{
        span.small-txt{

        }
        span.small-tell{

        }
      }
    }
  }
}
@media screen and(max-width: 1200px){
  section.head{
    margin-bottom:-50px;
    .container-fluid{

      .flavor-logo{

      }
      .background-logo{

        .flavor-text-top-left{

        }
        .background-txt{
          font-size: 32px;
          bottom: 37%;
          padding: 0px 20px;
          height: 55px;
        }
        .flavor-small-logo{

          img{

          }
        }
        .background-txt-sub{
          padding: 2px;
          top: -68px;
          .service{

            span{
              font-size: 16px;
            }
          }

        }
      }
    }
  }
  section.form{

    .slide{

    }
    .txt{

      p{
        padding-top: 20px;
        font-size: 15px;
        padding-right: 80px;
      }
    }
    .form-box{
      margin-top:80px;
      h2{

      }
      div.wpcf7{

        form{
          span{

            input{
              width:22%;
            }
            input::placeholder{

            }
          }
          input#send_btn{
            width:175px
          }
        }
      }
      p.smaller{
        span.small-txt{

        }
        span.small-tell{

        }
      }
    }
  }
}
@media screen and(max-width: 1100px){
  section.head{
    margin-bottom:-35px;
    .container-fluid{

      .flavor-logo{

      }
      .background-logo{

        .flavor-text-top-left{

        }
        .background-txt{
          font-size: 28px;
          bottom: 33%;
          padding: 0px 20px;
          height: 45px;
        }
        .flavor-small-logo{

          img{

          }
        }
        .background-txt-sub{
          padding: 5px;
          top: -52px;
          .service{
            img{
              width:20%;
            }
            span{
              font-size: 16px;
            }
          }

        }
      }
    }
  }
  section.form{

    .slide{

    }
    .txt{

      p{
        padding-top: 10px;
        font-size: 15px;
        padding-right: 60px;
      }
    }
    .form-box{
      margin-top:70px;
      h2{

      }
      div.wpcf7{

        form{
          span{

            input{
              width:22%;
            }
            input::placeholder{

            }
          }
          input#send_btn{
            width:175px
          }
        }
      }
      p.smaller{
        span.small-txt{

        }
        span.small-tell{

        }
      }
    }
  }
}
@media screen and(max-width: 1050px){
  section.head{
    margin-bottom:-35px;
    .container-fluid{

      .flavor-logo{

      }
      .background-logo{

        .flavor-text-top-left{

        }
        .background-txt{
          font-size: 28px;
          bottom: 33%;
          padding: 0px 20px;
          height: 45px;
        }
        .flavor-small-logo{

          img{

          }
        }
        .background-txt-sub{
          padding: 5px;
          top: -52px;
          .service{
            img{
              width:20%;
            }
            span{
              font-size: 16px;
            }
          }

        }
      }
    }
  }
  section.form{

    .slide{

    }
    .txt{

      p{
        padding-top: 10px;
        font-size: 14px;
        padding-right: 50px;
      }
    }
    .form-box{
      margin-top:60px;
      h2{

      }
      div.wpcf7{

        form{
          span{

            input{
              width:22%;
            }
            input::placeholder{

            }
          }
          input#send_btn{
            width:175px
          }
        }
      }
      p.smaller{
        span.small-txt{

        }
        span.small-tell{

        }
      }
    }
  }
}
///////////////////////////desktop queries -END

///////////////////////////mobile queries -START

@media screen and(max-width: 1024px){
  section.head{
    margin-bottom: 0px;
    .container-fluid{

      .flavor-logo{

      }
      .background-logo{

        .flavor-text-top-left{
          font-size: 33px;
        }
        .background-txt{
          font-size: 28px;
          bottom: 33%;
          padding: 0px 20px;
          height: 45px;
        }
        .flavor-small-logo{

          img{

          }
        }
        .background-txt-sub{
          position: relative;
          top: 0;
          width: 100%;
          left: 50%;
          transform: translateX(-58%);
          .service{
            img{
              width:unset;
            }
            span{
              font-size: 24px;
            }
          }

        }
      }
    }
  }
  section.form{

    .slide{
      width:100%;
      float:unset;
    }
    .txt{

      p{
        margin: 0 auto;
        padding: 0;
        text-align: center;
        width: 75%;
        padding-top: 20px;
        font-size: 30px;
      }
    }
    .form-box{
      margin-top:60px;
      h2{

      }
      div.wpcf7{

        form{
          span{
            display: block;
            margin-bottom: 20px;
            input{
              width:75%;
              font-size: 28px;
            }
            input::placeholder{

            }
          }
          input#send_btn{
            width:75%;
            font-size: 28px;
          }
        }
      }
      p.smaller{
        span.small-txt{

        }
        span.small-tell{

        }
      }
    }
  }
}

///////////////////////////mobile queries -END
